* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-color: #b3d9ff;
    background-image: linear-gradient(135deg, #80bfff 0%, #4da6ff 100%);
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #00264d;
}

@media (min-width: 500px) {
    body { padding: 0; }
}

.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background: #e6f2ff;
    text-align: center;
    display: grid;
    gap: 30px;
    place-items: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (min-width: 450px) {
    .login-form { width: 380px; }
}

@media (min-width: 700px) {
    .login-form {
        top: 0;
        right: 0;
        left: auto;
        transform: none;
        margin: 0;
        height: 100%;
        border-radius: 0;
        padding-top: 240px;
    }
}

@media (min-width: 1200px) {
    .login-form { width: 25%; }
}

.login-form > :is(input, button) {
    height: 46px;
    outline: none;
    font-family: inherit;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.login-form > input {
    width: 280px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid rgba(0, 38, 77, 0.3);
    font-size: 14px;
    text-align: center;
    padding-bottom: 8px;
    color: #00264d;
}

.login-form > input:focus {
    border-bottom: 2px solid #0059b3;
}

.login-form > button {
    cursor: pointer;
    width: 100%;
    height: 56px;
    background: #0059b3;
    border: 0;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-form > button:hover {
    background: #004080;
}

.validation {
    overflow: hidden;
    height: 0;
    color: #b13950;
    transition: 0.3s;
}